---
import Layout from "@layouts/Layout.astro";
import MovieFilters from "@components/MovieFilters";
import { getBestMoviesByYear, getTotalMoviesByYear } from "../../lib/turso";
import { MoviesList } from "@components/MoviesList";

export const prerender = true;
export async function getStaticPaths() {
  const totalMoviesByYear = await getTotalMoviesByYear();
  return Object.keys(totalMoviesByYear).map((year) => ({ params: { year } }));
}

const { year } = Astro.params;
const topMovies = (await getBestMoviesByYear(year)).map((movie) => ({
  ...movie,
  status: "UNKNOWN",
  visible: true,
}));
---

<Layout title={`Top Year - ${year}`} backButton={true}>
  <div class="container mx-auto px-4 pt-4 mb-16">
    <div>
      <div class="flex justify-between">
        <h2
          class="uppercase tracking-wider text-red-600 text-xl font-semibold py-4"
        >
          TOP <span class="text-white">{year}</span>
        </h2>
        <MovieFilters client:visible />
      </div>
      <MoviesList client:visible initialMovies={topMovies} />
    </div>
  </div>
</Layout>
