---
export interface Props {
  text?: string;
  visible?: boolean;
}

const { text, visible } = Astro.props as Props;
---

<button
  onclick="history.back()"
  class={`flex items-center px-4 py-2 text-white bg-gray-800 rounded hover:bg-gray-700 transition-colors ${visible ? "visible" : "invisible"}`}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    class="w-5 h-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M15 19l-7-7 7-7"></path>
  </svg>
  <span class="hidden md:block ml-1">{text}</span>
</button>
