---
import type { StringMappingType } from "typescript";

interface Props {
  showStatus: string[];
  actionStatus?: string;
  iconStatus: string;
  opacity?: boolean;
  size?: string;
}

const { showStatus, actionStatus, iconStatus, opacity, size } = Astro.props;

const statusBorderColors = {
  "WATCHED": "border-green-300",
  "DISCARD": "border-red-300",
  "UNDO": "border-slate-400",
};
---

<button
  id={`watched-button-${showStatus}-${size ? size : "big"}`}
  class={`bg-slate-600 ${actionStatus ? "hover:bg-slate-700" : ""} border-2 ${statusBorderColors[iconStatus]} ${opacity ? "opacity-90 hover:opacity-100" : ""} text-white font-bold ${size === "small" ? "py-2 px-2" : "py-4 px-4"} rounded-full mx-2 mt-2 ${actionStatus ? "pointer-events-auto" : ""} transition ease-in-out duration-300`}
  :class="movie ? '' : 'hidden'"
  x-cloak
  @click.stop={actionStatus
    ? `await Alpine.store('globalState').updateMovieStatus(movie?.movie_id, '${actionStatus}', movie?.year)`
    : 'console.log("no action")'}
  x-show={`movie && ${JSON.stringify(showStatus)}.includes(movie?.status)`}
  type="button"
>
  {
    iconStatus === "WATCHED" && (
      <svg
        viewBox="0 0 24 24"
        class={`stroke-green-600 ${size === "small" ? "w-8 h-8 md:w-6 md:h-6 lg:w-4 lg:h-4" : "w-16 h-16 md:w-8 md:h-8 lg:w-6 lg:h-6"}`}
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <>
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <g id="Interface / Check_Big">
              <path
                id="Vector"
                d="M4 12L8.94975 16.9497L19.5572 6.34326"
                stroke="current"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </g>
        </>
      </svg>
    )
  }
  {
    iconStatus === "DISCARD" && (
      <svg
        class={`stroke-red-800 fill-red-600 ${size === "small" ? "w-8 h-8 md:w-6 md:h-6 lg:w-4 lg:h-4" : "w-16 h-16 md:w-8 md:h-8 lg:w-6 lg:h-6"}`}
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <>
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <title>cancel2</title>
            <path d="M19.587 16.001l6.096 6.096c0.396 0.396 0.396 1.039 0 1.435l-2.151 2.151c-0.396 0.396-1.038 0.396-1.435 0l-6.097-6.096-6.097 6.096c-0.396 0.396-1.038 0.396-1.434 0l-2.152-2.151c-0.396-0.396-0.396-1.038 0-1.435l6.097-6.096-6.097-6.097c-0.396-0.396-0.396-1.039 0-1.435l2.153-2.151c0.396-0.396 1.038-0.396 1.434 0l6.096 6.097 6.097-6.097c0.396-0.396 1.038-0.396 1.435 0l2.151 2.152c0.396 0.396 0.396 1.038 0 1.435l-6.096 6.096z" />
          </g>
        </>
      </svg>
    )
  }
  {
	iconStatus === 'UNDO' && (
		<svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		class={`stroke-slate-800 ${size === "small" ? "w-8 h-8 md:w-6 md:h-6 lg:w-4 lg:h-4" : "w-16 h-16 md:w-8 md:h-8 lg:w-6 lg:h-6"}`}
		viewBox="0 0 32 32" xml:space="preserve" fill="#000000">
			<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
			<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
			<g id="SVGRepo_iconCarrier">
				<style type="text/css"> .puchipuchi_een{fill:#111918;} </style> <path class="puchipuchi_een" d="M29,18c0,3.472-1.353,6.737-3.808,9.193C22.736,29.648,19.472,31,16,31 c-3.473,0-6.737-1.353-9.192-3.808S3,21.472,3,18c0-1.104,0.896-2,2-2s2,0.896,2,2c0,2.403,0.937,4.664,2.636,6.364 C11.336,26.064,13.596,27,16,27c2.403,0,4.664-0.936,6.364-2.636C24.063,22.664,25,20.404,25,18s-0.937-4.664-2.636-6.364 C20.664,9.936,18.404,9,16,9h-2.172l1.586,1.586c0.781,0.781,0.781,2.047,0,2.828s-2.047,0.781-2.828,0l-5-5 c-0.781-0.781-0.781-2.047,0-2.828l5-5c0.781-0.781,2.047-0.781,2.828,0s0.781,2.047,0,2.828L13.828,5H16 c3.473,0,6.737,1.353,9.192,3.808C27.647,11.263,29,14.528,29,18z"></path>
			</g>
	</svg>
  )
  }
</button>
