---
export interface Props {
  title: string;
  disabled?: boolean;
}
const { title, disabled } = Astro.props as Props;
---

<span
  class={`tracking-wider text-red-600 font-semibold ${disabled ? "md:text-lg" : "text-lg"}`}
>
  Top <span class={disabled ? "text-slate-300 hover:text-white" : "text-white"}
    >{title}</span
  >
</span>
