---
import { getTopMoviesByYear, getTotalMoviesByYear } from "../lib/turso";
import YearMoviesCard from "./YearMoviesCard.astro";

interface Props {
  topMoviesByYear: any;
  totalMoviesByYear: any;
}

const { topMoviesByYear, totalMoviesByYear } = Astro.props;
---

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
>
  {
    topMoviesByYear.map((yearMovies) => (
      <YearMoviesCard
        yearMovies={yearMovies}
        totalMovies={totalMoviesByYear[yearMovies.year]}
      />
    ))
  }
</div>
