---
import Avatar from "@components/Avatar";
import "../styles/global.css";
import Footer from "@components/Footer.astro";
import LoginMenuOption from "@components/LoginMenuOption";
import Logo from "@components/Logo.astro";
import RightChevron from "@components/icons/RightChevron.astro";
import TopList from "@components/icons/TopList.astro";
import TopPlay from "@components/icons/TopPlay.astro";
import TopCalendar from "@components/icons/TopCalendar.astro";
import TopMovie from "@components/icons/TopMovie.astro";
import TopTitle from "@components/TopTitle.astro";

export interface Props {
  title: string;
  backButton?: boolean;
  section?: string;
  sectionUrl?: string;
  subSection?: string;
}

const { title, backButton, section, sectionUrl, subSection } =
  Astro.props as Props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <title>{title}</title>
    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      import "../scripts/spa-navigation.js";
    </script>
  </head>
  <body class="font-sans bg-slate-700 text-white">
    <div id="root" class="h-screen overflow-hidden flex flex-col">
      <div
        x-data="{ sidebarIsOpen: false }"
        class="relative flex w-full flex-col md:flex-row"
      >
        <!-- This allows screen readers to skip the sidebar and go directly to the main content. -->
        <a class="sr-only" href="#main-content">skip to the main content</a>

        <!-- dark overlay for when the sidebar is open on smaller screens  -->
        <div
          x-cloak
          x-show="sidebarIsOpen"
          class="fixed inset-0 z-20 bg-slate-900/10 backdrop-blur-sm md:hidden"
          aria-hidden="true"
          x-on:click="sidebarIsOpen = false"
          x-transition.opacity
        >
        </div>

        <nav
          x-cloak
          class="fixed left-0 z-30 flex h-svh w-60 shrink-0 flex-col border-r border-slate-300 bg-slate-100 p-4 transition-transform duration-300 md:w-64 md:translate-x-0 md:relative dark:border-slate-700 dark:bg-slate-800"
          x-bind:class="sidebarIsOpen ? 'translate-x-0' : '-translate-x-60'"
          aria-label="sidebar navigation"
        >
          <!-- logo  -->
          <a
            href="/"
            class="flex items-end justify-left font-bold text-2xl ml-2"
          >
            <div class="w-12 mr-1"><Logo /></div>
            <span class="mr-2 text-red-600">op</span>
            <span class="">pelis</span>
          </a>

          <!-- search  -->
          <div
            class="relative my-4 flex w-full max-w-xs flex-col gap-1 text-slate-700 dark:text-slate-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              class="absolute left-2 top-1/2 size-5 -translate-y-1/2 text-slate-700/50 dark:text-slate-300/50"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              ></path>
            </svg>
            <input
              type="search"
              class="w-full border border-slate-300 rounded-xl bg-white px-2 py-1.5 pl-9 text-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700 disabled:cursor-not-allowed disabled:opacity-75 dark:border-slate-700 dark:bg-slate-900/50 dark:focus-visible:outline-red-600"
              name="search"
              aria-label="Buscar"
              placeholder="Buscar pelis..."
            />
          </div>

          <!-- sidebar links  -->
          <div class="flex flex-col gap-2 overflow-y-auto pb-6 text-lg">
            <a
              href="/top/50"
              class="flex items-center rounded-xl gap-2 px-2 py-1.5 font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/10 dark:hover:text-white"
            >
              <TopList />
              <TopTitle title="50" />
            </a>

            <a
              href="/next/20"
              class="flex items-center rounded-xl gap-2 px-2 py-1.5 font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/10 dark:hover:text-white"
            >
              <TopPlay />
              <TopTitle title="Next" />
            </a>

            <a
              href="/year"
              class="flex items-center rounded-xl gap-2 px-2 py-1.5 font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/10 dark:hover:text-white"
            >
              <TopCalendar />
              <TopTitle title="Year" />
            </a>

            <a
              href="#"
              class="flex items-center rounded-xl gap-2 px-2 py-1.5 text-sm font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/10 dark:hover:text-white"
            >
              <TopMovie />
              <span class="tracking-wider text-lg text-white font-semibold">
                Géneros
              </span>
            </a>
          </div>

          <!-- Footer -->
          <div class="mt-auto">
            <Footer />
          </div>
        </nav>

        <!-- top navbar & main content  -->
        <div class="h-svh w-full overflow-y-auto bg-white dark:bg-slate-700">
          <!-- top navbar  -->
          <nav
            class="sticky top-0 z-10 flex items-center justify-between border-b border-slate-300 bg-slate-100 px-8 py-2 dark:border-slate-700 dark:bg-slate-800"
            aria-label="top navibation bar"
          >
            <!-- sidebar toggle button for small screens  -->
            <button
              type="button"
              class="md:hidden inline-block text-slate-700 dark:text-slate-300"
              x-on:click="sidebarIsOpen = true"
            >
              <div class="flex flex-col items-center">
                <div class="w-10">
                  <Logo />
                </div>
                <span class="text-xs text-white font-mono">pelis</span>
              </div>
              <span class="sr-only">sidebar toggle</span>
            </button>

            <!-- breadcrumbs  -->
            <nav
              class=`text-xl font-medium text-slate-700 ${subSection ? 'dark:text-slate-300': 'dark:text-white'}`
              aria-label="breadcrumb"
            >
              <ol
                class="flex flex-wrap flex-col md:flex-row items-center gap-1"
              >
                <li class="flex items-center gap-1">
                  <a
                    href={sectionUrl ? sectionUrl : "#"}
                    class={`hover:text-black dark:hover:text-white ${subSection ? "text-sm" : ""}`}
                    >{
                      section && (
                        <TopTitle
                          title={section}
                          disabled={sectionUrl ? true : false}
                        />
                      )
                    }
                  </a>
                  {
                    subSection && (
                      <div class="hidden md:inline-block md:visible">
                        <RightChevron />
                      </div>
                    )
                  }
                </li>

                {
                  subSection && (
                    <li
                      class="flex text-xl items-center gap-1 font-semibold text-black dark:text-white tracking-wider"
                      aria-current="page"
                    >
                      {subSection}
                    </li>
                  )
                }
              </ol>
            </nav>

            <!-- Profile Menu  -->
            <div
              x-data="{ userDropdownIsOpen: false }"
              class="relative"
              x-on:keydown.esc.window="userDropdownIsOpen = false"
            >
              <button
                type="button"
                class="flex w-full cursor-pointer items-center rounded-xl gap-2 p-2 text-left text-slate-700 hover:bg-red-700/5 hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700 dark:text-slate-300 dark:hover:bg-red-600/5 dark:hover:text-white dark:focus-visible:outline-red-600"
                x-bind:class="userDropdownIsOpen ? 'bg-red-700/10 dark:bg-red-600/10' : ''"
                aria-haspopup="true"
                x-on:click="userDropdownIsOpen = ! userDropdownIsOpen"
                x-bind:aria-expanded="userDropdownIsOpen"
              >
                <Avatar client:load />
              </button>

              <!-- menu -->
              <div
                x-cloak
                x-show="userDropdownIsOpen"
                class="absolute top-14 right-0 h-fit w-48 border divide-y divide-slate-300 border-slate-300 bg-white dark:divide-slate-700 dark:border-slate-700 dark:bg-slate-900 rounded-xl"
                role="menu"
                x-on:click.outside="userDropdownIsOpen = false"
                x-on:keydown.down.prevent="$focus.wrap().next()"
                x-on:keydown.up.prevent="$focus.wrap().previous()"
                x-transition=""
                x-trap="userDropdownIsOpen"
              >
                <div class="flex flex-col py-1.5">
                  <a
                    href="/profile"
                    class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/5 dark:hover:text-white"
                    role="menuitem"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-5 shrink-0"
                      aria-hidden="true"
                    >
                      <path
                        d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z"
                      ></path>
                    </svg>
                    <span>Tu perfil</span>
                  </a>
                </div>

                <!--<div class="flex flex-col py-1.5">
                   <a
                    href="#"
                    class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/5 dark:hover:text-white"
                    role="menuitem"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-5 shrink-0"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>Settings</span>
                  </a> -->
                <!-- <a
                    href="#"
                    class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/5 dark:hover:text-white"
                    role="menuitem"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-5 shrink-0"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.5 4A1.5 1.5 0 0 0 1 5.5V6h18v-.5A1.5 1.5 0 0 0 17.5 4h-15ZM19 8.5H1v6A1.5 1.5 0 0 0 2.5 16h15a1.5 1.5 0 0 0 1.5-1.5v-6ZM3 13.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm4.75-.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>Payments</span>
                  </a> 
                </div>-->

                <div class="flex flex-col py-1.5">
                  <LoginMenuOption client:load />
                </div>
              </div>
            </div>
          </nav>
          <!-- main content  -->
          <div id="main-content" class="p-8 dark:bg-slate-700">
            <div class="overflow-y-auto">
              <!-- Add main content here  -->
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
